USE [master]
GO
/****** Object:  Database [AutoverhuurDB]    Script Date: 30/03/2025 0:23:57 ******/
CREATE DATABASE [AutoverhuurDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'AutoverhuurDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AutoverhuurDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'AutoverhuurDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\AutoverhuurDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [AutoverhuurDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [AutoverhuurDB]
GO
/****** Object:  Table [dbo].[Autos]    Script Date: 30/03/2025 0:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autos](
	[Id] [varchar](60) NOT NULL,
	[Nummerplaat] [varchar](15) NOT NULL,
	[Model] [varchar](30) NOT NULL,
	[Zitplaatsen] [int] NOT NULL,
	[Motortype] [varchar](15) NOT NULL,
	[VestigingenId] [varchar](60) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Klanten]    Script Date: 30/03/2025 0:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Klanten](
	[Id] [varchar](60) NOT NULL,
	[Voornaam] [varchar](30) NOT NULL,
	[Achternaam] [varchar](30) NOT NULL,
	[Email] [varchar](30) NOT NULL,
	[Straat] [varchar](30) NOT NULL,
	[Postcode] [varchar](30) NOT NULL,
	[Woonplaats] [varchar](30) NOT NULL,
	[Land] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Klanten] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservaties]    Script Date: 30/03/2025 0:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservaties](
	[Id] [varchar](60) NOT NULL,
	[KlantId] [varchar](60) NOT NULL,
	[AutoId] [varchar](60) NOT NULL,
	[VestigingId] [varchar](60) NOT NULL,
	[StartDatum] [datetime] NOT NULL,
	[EindDatum] [datetime] NOT NULL,
	[AantalPersonen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vestigingen]    Script Date: 30/03/2025 0:23:57 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vestigingen](
	[Id] [varchar](60) NOT NULL,
	[Luchthaven] [varchar](30) NOT NULL,
	[Straat] [varchar](30) NOT NULL,
	[Postcode] [varchar](30) NOT NULL,
	[Plaats] [varchar](30) NOT NULL,
	[Land] [varchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Autos] ([Id], [Nummerplaat], [Model], [Zitplaatsen], [Motortype], [VestigingenId]) VALUES (N'01C7661B-47C4-4A9D-814A-2E5CF46038C7', N'DE-UTC-095', N'Audi A4', 5, N'1', N'FC37AD19-5D97-44EC-9766-F2F04BCC3180')
INSERT [dbo].[Autos] ([Id], [Nummerplaat], [Model], [Zitplaatsen], [Motortype], [VestigingenId]) VALUES (N'02DFCDD5-A908-44BB-828C-7669ED702B1F', N'FR-VRS-081', N'Mercedes-Benz E-Class', 4, N'3', N'3491CA56-7967-4A56-BD45-CD3A1BEF1F80')
INSERT [dbo].[Autos] ([Id], [Nummerplaat], [Model], [Zitplaatsen], [Motortype], [VestigingenId]) VALUES (N'0692A2E0-BB75-4910-9EC3-436EBD86B29B', N'DK-SCT-733', N'Seat Leon', 7, N'1', N'FC37AD19-5D97-44EC-9766-F2F04BCC3180')
GO
INSERT [dbo].[Klanten] ([Id], [Voornaam], [Achternaam], [Email], [Straat], [Postcode], [Woonplaats], [Land]) VALUES (N'027C53AA-F6BD-4F38-B7AD-0DCD216A20D7', N'Finn', N'Peeters', N'finn.peeters@example.com', N'Dorpsstraat 101', N'6611', N'Amsterdam', N'Nederland')
INSERT [dbo].[Klanten] ([Id], [Voornaam], [Achternaam], [Email], [Straat], [Postcode], [Woonplaats], [Land]) VALUES (N'03E9F005-39FF-42D4-AC8F-883EE36D7114', N'Sophie', N'Peeters', N'sophie.peeters@example.com', N'Hoofdweg 139', N'3755', N'Amsterdam', N'Nederland')
INSERT [dbo].[Klanten] ([Id], [Voornaam], [Achternaam], [Email], [Straat], [Postcode], [Woonplaats], [Land]) VALUES (N'0895A975-0DD9-4EAF-BF69-EAD8A56DD767', N'Lucas', N'Garcia', N'lucas.garcia@example.com', N'Ulica Marszalkowska 39', N'2229', N'Dublin', N'Ierland')
GO
INSERT [dbo].[Reservaties] ([Id], [KlantId], [AutoId], [VestigingId], [StartDatum], [EindDatum], [AantalPersonen]) VALUES (N'18374C7D-3BC9-41B6-A147-9ED9222592B9', N'0B38F194-A831-48AA-8AAF-73CE13FB25DA', N'1E5A9F8D-1A1C-4D2C-BAD7-8E62B0B321CC', N'40C6A5EC-F425-4511-87D6-4CFA2DC698D1', CAST(N'2025-03-30T00:00:00.000' AS DateTime), CAST(N'2025-03-31T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Reservaties] ([Id], [KlantId], [AutoId], [VestigingId], [StartDatum], [EindDatum], [AantalPersonen]) VALUES (N'1884567C-4D92-413C-AFB1-96580BBFEE69', N'1F236104-63D9-4105-AC46-D4FE43F5B4F5', N'1E5A9F8D-1A1C-4D2C-BAD7-8E62B0B321CC', N'40C6A5EC-F425-4511-87D6-4CFA2DC698D1', CAST(N'2025-03-30T00:00:00.000' AS DateTime), CAST(N'2025-03-31T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[Reservaties] ([Id], [KlantId], [AutoId], [VestigingId], [StartDatum], [EindDatum], [AantalPersonen]) VALUES (N'2BCC1A3A-362D-4B7A-878B-30C4091EB3C0', N'1F236104-63D9-4105-AC46-D4FE43F5B4F5', N'24BCE6BF-D734-45DA-9615-57EC7E7F6AFE', N'46DB3A57-4B8D-4FF0-9D77-C6CEBFEC2891', CAST(N'2025-03-30T00:00:00.000' AS DateTime), CAST(N'2025-04-03T00:00:00.000' AS DateTime), 3)
GO
INSERT [dbo].[Vestigingen] ([Id], [Luchthaven], [Straat], [Postcode], [Plaats], [Land]) VALUES (N'0EC2AB5A-381B-4C49-A812-FA8BCE352C9A', N'Malpensa', N'Via Giovanni Antonio Amadeo', N'21010', N'Milaan', N'Italië')
INSERT [dbo].[Vestigingen] ([Id], [Luchthaven], [Straat], [Postcode], [Plaats], [Land]) VALUES (N'3491CA56-7967-4A56-BD45-CD3A1BEF1F80', N'Vantaa', N'Lentäjäntie', N'01530', N'Helsinki', N'Finland')
INSERT [dbo].[Vestigingen] ([Id], [Luchthaven], [Straat], [Postcode], [Plaats], [Land]) VALUES (N'40C6A5EC-F425-4511-87D6-4CFA2DC698D1', N'Zaventem', N'Leopoldlaan', N'1930', N'Brussel', N'België')
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__B2D209D264CF6A2B]    Script Date: 30/03/2025 0:23:57 ******/
ALTER TABLE [dbo].[Autos] ADD UNIQUE NONCLUSTERED 
(
	[Nummerplaat] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tmp_ms_x__A9D10534330C7043]    Script Date: 30/03/2025 0:23:57 ******/
ALTER TABLE [dbo].[Klanten] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Autos]  WITH CHECK ADD  CONSTRAINT [FK_AutosVestigingen] FOREIGN KEY([VestigingenId])
REFERENCES [dbo].[Vestigingen] ([Id])
GO
ALTER TABLE [dbo].[Autos] CHECK CONSTRAINT [FK_AutosVestigingen]
GO
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD FOREIGN KEY([AutoId])
REFERENCES [dbo].[Autos] ([Id])
GO
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD FOREIGN KEY([KlantId])
REFERENCES [dbo].[Klanten] ([Id])
GO
ALTER TABLE [dbo].[Reservaties]  WITH CHECK ADD FOREIGN KEY([VestigingId])
REFERENCES [dbo].[Vestigingen] ([Id])
GO
USE [master]
GO
